<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="./styles.css" rel="stylesheet" />
  </head>
  <body>
    <%- include ('./commons/header.ejs') %>

    <div class="container mt-5">
      <div class="jumbotron text-center bg-light shadow-sm p-4 rounded">
        <h1 class="display-4 font-weight-bold">
          Welcome to the Question Bank Management Application
        </h1>
        <hr class="my-4" />
        <p>
          Use the buttons below to navigate to the respective management
          sections.
        </p>
        <div class="d-flex justify-content-center mt-4">
          <a href="/quizzes" class="btn btn-primary mx-2"
            >Go to Quiz Management</a
          >
          <a href="/questions" class="btn btn-primary mx-2"
            >Go to Question Management</a
          >
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card text-center shadow-sm mb-4">
            <div class="card-body">
              <h4 class="card-title">Quiz Management</h4>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Manage your quizzes, including:</li>
                <li class="list-group-item">Adding quiz</li>
                <li class="list-group-item">Editing quiz</li>
                <li class="list-group-item">Deleting quiz</li>
                <li class="list-group-item">Viewing quiz details</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card text-center shadow-sm mb-4">
            <div class="card-body">
              <h4 class="card-title">Question Management</h4>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  Manage your questions, including:
                </li>
                <li class="list-group-item">Adding question</li>
                <li class="list-group-item">Editing question</li>
                <li class="list-group-item">Deleting question</li>
                <li class="list-group-item">Viewing question details</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include ('./commons/footer.ejs') %>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
